/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles for html */

.load-products {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-items {
    /* border: 1px solid red; */
    color: black;
    display: inline-block;
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* height: 100%; */
}

.load-items div {
    transform-origin: 2.5rem 2.5rem;
    animation: load-items 1.2s linear infinite;
}

.load-items div::after {
    /* border: 1px solid blue; */
    content: " ";
    display: flex;
    position: absolute;
    top: 0.1875rem;
    left: 2.31rem;
    width: 0.375rem;
    height: 1.125rem;
    border-radius: 20%;
    background: blue;
}

.load-items div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
    /* border: 1px solid red; */
}

.load-items div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.load-items div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.load-items div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.load-items div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.load-items div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.load-items div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.load-items div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.load-items div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.load-items div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.load-items div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.load-items div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes load-items {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Load Error */
.error {
    font-size: 1.25rem;
    color: black;
}

/* fetch sucessfull no data to show */
.zero-data {
    color: black;
}

/* Custom style */

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /* background: linear-gradient(rgb(135, 226, 186), rgb(29, 191, 29)); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 119, 78);
}

header{
    display: none;
}

.header-class{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.125rem;
    /* background-color: rgb(213, 200, 193); */
    background: linear-gradient(to right, rgb(22, 109, 203), rgb(84, 230, 84));
    /* border: 1px solid black; */
}

header button {
    /* width: 6rem; */
    /* height: 2.7rem; */
    border-radius: 3rem;
    background-color:#388e3c; 
    font-size: 1rem;
    font-weight: bold;
    color: white;
    /* text-decoration: none; */
    /* border: 1px solid red; */
}

#sign-up {
    text-decoration: none;
    /* border: 1px solid red; */
    padding: 1rem;
    background-color:#388e3c;
    border-radius: 3rem;
    color: white;
    font-weight: bold;
}

#log-out {
    text-decoration: none;
    /* border: 1px solid red; */
    padding: 1rem;
    background-color:#388e3c;
    border-radius: 3rem;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}

#log-out:hover {
    opacity: 70%;
    cursor: pointer;
}

#sign-up:hover {
    opacity: 70%;
    cursor: pointer;
}

header img {
    /* border: 1px solid yellow; */
    width: 4rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #f7f1f0;
    font-weight: 700;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

.internal-error {
    color: blue;
}

li {
    padding: 2rem;
    width: 21.875rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid blue; */
    border-radius: 1rem;
    border: 1px solid gray;
}

li:hover {
    transform: scale(1.02);
    cursor: pointer;
}

img {
    margin-bottom: 1rem;
    width: 13rem;
    height: 13rem;
    /* border: 1px solid red; */
    background: transparent;
    object-fit: contain;
}

h2 {
    /* border: 1px solid yellow; */
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    /* color: rgb(94, 94, 94); */
}

p {
    /* border: 1px solid green; */
    margin: 0.5rem auto;
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgb(94, 94, 94);
}

.add-to-cart {
    /* border: 1px solid orange; */
    cursor: pointer;
    font-size: 1rem;
    width: 8rem;
    height: 2.5rem;
    background-color: #377e80;
    color: white;
    border-radius: 7px;
    margin-top: 2rem;
}

.add-to-cart:hover {
    opacity: 80%;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 4rem;
    /* background: linear-gradient(rgb(135, 226, 186), rgb(29, 191, 29)); */
    /* border: 1px solid red; */
}

.fa-regular {
    /* border: 1px solid salmon; */
    color: white;
}

.rating-button {
    width: 3rem;
    height: 1.5rem;
    background-color: #388e3c;
    border-radius: 0.3125rem;
    color: white;
}

.container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid b; */
}

.main-container {
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 1.5625rem;
    font-weight: 800;
    color: rgb(94, 94, 94);
    /* border: 1px solid greenyellow; */
}

h4 {
    margin-top: 1.5rem;
    text-transform: uppercase;
    color: rgb(94, 94, 94);
    font-weight: 700;
}

.price-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(94, 94, 94);
    /* border: 1px solid slateblue; */
}

span {
    font-size: smaller;
    padding-left: 0.5rem;
    /* border: 1px solid gold; */
}

.footer-container {
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* bottom: 0; */
    /* height: auto; */
    /* width: 100%; */
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-container p {
    color: white;
}

button {
    border: none;
}

footer{
    display: none;
}

@media screen and (min-width: 800px) {

    /* Footer styles */
    .footer-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3rem;
    }
}