/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles for sign up page */

* {
	box-sizing: border-box;
}

body{
	font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 119, 78);
}

.body-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.header-text{
    height: 3rem;
    width: 70%;
    padding-left: 13rem;
}

.home-button {
    margin-top: 0.5rem;
    width: 7rem;
    border-radius: 3rem;
}

.home-button:hover {
    opacity: 50%;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-container{
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;

}

input {
    display: block;
	height: 2.5rem;
	margin-top: 0.5rem;
	width: 100%;
	border: none;
	background-color: rgb(218, 218, 218);
	border-radius: 0.2rem;
    font-weight: 400;
    font-size: 1rem;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
	background-color: rgb(242, 239, 239);
	border: 1px solid blue;
}

input[type=checkbox] {
    display: inline-block;
	margin-bottom: 0.7rem;
	width: auto;
}

form{
    /* border: 1px solid red; */
	background-color: rgb(137, 245, 148);
	width: 25rem;
	box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
	padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

label {
    color: rgb(89, 86, 86);
}

header{
	height: 4rem;
	padding-bottom: 1.5rem;
	/* background-color: rgb(221, 221, 224); */
    background: linear-gradient(to right, rgb(22, 109, 203), rgb(84, 230, 84));
}

h1{
	text-align: center;
	font-size: 2rem;
	padding:1rem;
	color: rgb(255, 255, 255);
}

h2 {
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 2rem;
    color: rgb(219, 132, 10);
}

.check-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	width: 12rem;
	height: 3rem;
	cursor: pointer;
	background-color: green;
	color: white;
	border-radius: 0.5rem;
    font-weight: 900;
    font-size: 1.2rem;
}

.check-box-container{
	display: flex;
	align-items: center;
}

.footer-container p {
    color: rgb(192, 189, 189);
}

.footer-container {
    height: 4rem;
    background-color: black;
    /* color: rgb(182, 179, 179); */
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	font-weight: 400;
	color: red;
}

.wrap-check-box {
	display: flex;
	flex-direction: column;
}

.sucess input{
	border: 2px solid green;
	background-color: white;
}

.error input{
	border: 2px solid red;
	background-color: white;
}

h3 {
	display: none;
	text-align: center;
	margin-top: 2rem;
	color: rgb(237, 239, 237);
    font-size: 2rem;
}


@media screen and (max-width: 480px) {
	form {
		width: 100%;
		height: 100%;
	}

	input {
		height: 2rem;
		margin-top: 0.5rem;
	}

	h1 {
		font-size: 2.2rem;
	}

}


